<div class="redsocial">
  <h1>Redes sociales de Juan Ocampo</h1>
  <ul class="redsocial-list">
    <li><a target="_blank" href="https://www.facebook.com/coderhouse"><img class="redsocial-img" src="./assets/images/facebook.png" width="30">Facebook</a></li>
    <li><a target="_blank" href="https://www.instagram.com/coderhouse"><img class="redsocial-img" src="./assets/images/instagram.png" width="30">Instagram</a></li>
    <li><a target="_blank" href="https://www.twitter.com/coderhouse"><img class="redsocial-img" src="./assets/images/twitter.png" width="30">Twitter</a></li>
  </ul>
</div>
